<!-- hero-banner -->
<div class="container-fluid bg-body-secondary">
    <div class="d-flex flex-column flex-md-row py-5">
        <div class="d-flex flex-column align-content-center">
            <div class="p-5">
                <h3 class="text-light-emphasis">
                    Hi There,<br>This is Abdul Halim.<br>a passionate .NET Developer
                </h3>
                <ul class="text-light-emphasis">
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>Typescript</li>
                    <li>ASP.NET Core</li>
                    <li>EF Core</li>
                    <li>Angular</li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column mx-lg-auto">
            <div class="mx-lg-auto">
                <img class="rounded-circle" style="max-width: 70%;" src="img/myPic-removebg-preview.png">
            </div>
            <div class="mx-4" style="font-size: 1rem">
                Hello,<br> I'm Abdul Halim Khan, a passionate software developer based in
                Bangladesh with a focus on ASP .NET Core.
            </div>
        </div>
    </div>
    
</div>